{% extends 'vote/user/base.html' %}
{% load static %}
{% block title_block %}
    <title>Cast Vote</title>
{% endblock %}

{% block body_block %}
    <div class="parent2">
        <div class="title2">
            Cast Your Vote
        </div>

        <div class="content2">
            <div>
                You Are a Registered Voter
            </div>
        </div>

        <div class="content2">
            <div>
                Below are your registration details.
            </div>
        </div>

        <div class="formWrapper">
            <div class="form">
                <table class="table-long">
                    <thead>
                        <tr class="table-row">
                            <th class="head-item">NAME</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for candidate in candidate %}
                        <tr class="table-row">
                            <td class="cell">{{ candidate.candidate_name }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

            <div class="button-parent">
                <div class="button-group2">
                    <a class="submit" href={% url 'vote:index' %}>BACK</a>
                </div>
            </div>
            </form>
        </div>

{% endblock %}
